<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.e621.rebane.a621"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="de.e621.rebane.service.DMailService"
            android:exported="false"/>

        <!-- hardware acceleration for flash -->
        <activity
            android:name="de.e621.rebane.activities.PostsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SEARCH"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value="de.e621.rebane.PostsActivity"/>
        </activity>
        <activity
            android:name="de.e621.rebane.activities.SettingsActivity"
            android:label="@string/title_settings"
            android:launchMode="singleTop"
            android:parentActivityName="de.e621.rebane.activities.PostsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="de.e621.rebane.activities.PostShowActivity"
            android:label="@string/title_posts"
            android:launchMode="singleTop"
            android:parentActivityName="de.e621.rebane.activities.PostsActivity">
        </activity>
        <activity
            android:name="de.e621.rebane.activities.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_login">
        </activity>
    </application>

</manifest>